div {
  width: 100%;
  height: 100%;
  background: lightblue;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(lightblue, grey);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightblue, grey);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightblue, grey);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightblue, grey);
  /* Standard syntax */ }

body {
  background: lightblue; }
